@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        It is a test web-API, that illustrates work with <a href="https://learn.microsoft.com/en-us/aspnet/entity-framework">Entity Framework</a> and <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET MVC</a><br /><br />

        All CRUD operations are implemented, as well as search operation. <br />Progress bar is realized to show the process of deleting records.
    </p>
</main>