@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Ivan Biarezikau<br />
        Belarus, Zhodino<br />
        Education: <abbr title="Belarusian State University of Informatics and Radioelectronics">BSUIR (GameDev)</abbr>
        
    </address>

    <address>
        <strong>GitHub:</strong>   <a href="https://github.com/Yanberu">https://github.com/Yanberu.git</a><br />
        <strong>Telegram:</strong> <a href="https://t.me/Ivan_reggin">https://t.me/Ivan_reggin</a>
    </address>
</main>